/* selector.css */
* { font-weight: bold; color: darkorange; }

.blue { color: lightblue; }
* { color: plum; }
p.blue {color: slateblue; }
/* p태그이면서 blue 클래스를 가지고 있는 엘리먼트 선택 */
p { color: olivedrab; }

.blue.dark { color: mediumblue; }
p.blue.dark { color: rgb(40, 219, 138); }
/* 사실 8이랑 9는 같은 문장을 말함 */

#red { color: tomato; }
/* id선택자는 우선순위가 굉장히 높다. !important에 가깝다. */

/* 그룹선택자 */
span, .dark, #red { text-decoration: underline; }
span { text-decoration-color: black; }